html {
  height: 100%;
}

body {
	
	margin: 0px;
	padding: 0px;
	background-color: #E3E3E3;
	font-size: 16px;
	width: 100%;
}

/** Responsive **/
@media screen and (max-width: 1024px) and (max-width: 1280px)
{
	html {
		width: 1170px;
		height: 120%;
	}

	body {
		height: 100%;
		font-size: 129%;
		background-color: initial;
	}
}

p {
	color : black;
}

.container {
	width: 1170px;
	margin: auto;
	min-height: 100%;
}

/** Content **/
#content {
	background-color: #FFF;
	color: #3a3a3a;
	padding: 6px;
	height: 99%;
}

/** Responsive **/
@media screen and (max-width: 1024px) and (max-width: 1280px)
{
	.container {
		min-height: 100%;
	}

	#content {
		height: 99%;
	}

}

h1, h2, h3, h4, h5 {
	margin: 0px;
}

h1 {
	text-shadow: 1.33px 2px #FF9933;
}

input[type=submit] {
    width: 20em;  height: 2em;
}

/** HEADER MENU **/
.header-top {
	padding-top: 10px;
	width: 100%;
	background-color: #FFF;
	height: 120px;
	display: block;
}

.header-top > img {
	height: 100px;
	margin: 0 auto;
	display: block;
}

.header {
	display: block;
	width: 100%;
	background-color: #343434;
	color: #FFF;
	height: 40px;
}

.header .logo {
	width: 185px;
	float:left;
}

.header .logo > h1 {
	color: rgba(255, 156, 35, 0.68);
	text-transform: capitalize;
	margin: 8px 0;
	font-size: 21px;
	text-shadow: 0px 0px;
}

.titre h1 {
	margin-left: 19%; 
	font-size: 42px;
}

.titre h2 {
	margin-left: 37%; 
	font-size: 51px; 
	text-shadow: 1.33px 2px #FF9933; 
	margin-bottom: 587px;
}

/** Menu responsive **/
.res_main-menu {
	display: none;
}

/** Disparition de "Gestion Des Stages" dans les écrans de résolutions supérieur à 1280px **/

.res_logo {
	display: none;
}


/** Responsive **/
@media screen and (max-width: 1024px) and (max-width: 1280px)
{

	.header-top {
		padding-top: 5px;
	}

	.header-top > img {
		margin-left: 39%;
	}

	.header {
		background-color: white;
		font-size: 28px;
	}

	/** Disparition de "Gestion Des Stages" dans les écrans de résolutions compris entre 1024px et 1280px **/
	.header .logo {
		display: none;
	}

	/** "Gestion Des Stages" responsive **/
	.res_logo {
		display: initial;
		width: 250px;
	}

	.res_logo > h1 {
		margin-bottom: 30px;
		color: #0E1B50;
		text-transform: capitalize;
		text-shadow: initial;
		font-size: 31px;
	}

	.titre h2 { 
		margin-bottom: 0px;
	}

	/** Disparition du principal dans les écrans de résolutions compris entre 1024px et 1280px **/
	.header .menu_principal {
		display: none;
	}

	.header .main-menu-right a {
		color: #403B3B;
	}

	/** ------------------------------------------------------
	    ------------------------------------------------------
	    						Menu responsive
	    ------------------------------------------------------
	    ------------------------------------------------------
	**/
	.res_main-menu {
		display: initial;
	}

	#res_nav,#res_nav ul {
		background-color: #8899AA;
		list-style: none outside none;
		margin: 0;
		padding: 0;
	}
	#res_nav {
		display: block;
		padding: 5px;
		position: relative;
		width: 118px;
		-moz-perspective: 200px;
		-ms-perspective: 200px;
		-webkit-perspective: 200px;
		-o-perspective: 200px;
		perspective: 200px;
	}
	#res_nav ul {
		left: -9999px;
		opacity:0;
		overflow: hidden;
		padding: 5px;
		position: absolute;
		top: -9999px;
		-moz-transform: rotateY(70deg);
		-ms-transform: rotateY(70deg);
		-o-transform: rotateY(70deg);
		-webkit-transform: rotateY(70deg);
		transform: rotateY(70deg);
		-moz-transform-origin: 0 0;
		-ms-transform-origin: 0 0;
		-o-transform-origin: 0 0;
		-webkit-transform-origin: 0 0;
		transform-origin: 0 0;
		-moz-transition: -moz-transform 0.3s linear, opacity 0.3s linear;
		-ms-transition: -ms-transform 0.3s linear, opacity 0.3s linear;
		-o-transition: -o-transform 0.3s linear, opacity 0.3s linear;
		-webkit-transition: -webkit-transform 0.3s linear, opacity 0.3s linear;
		transition: transform 0.3s linear, opacity 0.3s linear;
	}
	#res_nav li {
		background-color: #FFFFFF;
		position: relative;
	}
	#res_nav > li {
		-moz-transform-style: preserve-3d;
		-ms-transform-style: preserve-3d;
		-o-transform-style: preserve-3d;
		-webkit-transform-style: preserve-3d;
		transform-style: preserve-3d;
	}
	#res_nav li a {
		background-color: #AABBCC;
		border-color: #DDDDDD #555555 #555555 #DDDDDD;
		border-style: solid;
		border-width: 1px;
		color: #000000;
		display: block;
		font-size: 15px;
		padding: 8px 10px 8px 5px;
		text-decoration: none;
		width:101px;
		-moz-transition: all 0.2s linear;
		-ms-transition: all 0.2s linear;
		-o-transition: all 0.2s linear;
		-webkit-transition: all 0.2s linear;
		transition: all 0.2s linear;
	}
	#res_nav li:hover > a {
		background-color: #8899AA;
		border-color: #8899AA;
		color: #FFFFFF;
	}
	#res_nav li:hover ul.subs {
		left: 114px;
		opacity:1;
		top: 0;
		-moz-transition-delay: 0.3s;
		-ms-transition-delay: 0.3s;
		-o-transition-delay: 0.3s;
		-webkit-transition-delay: 0.3s;
		transition-delay: 0.3s;
		-moz-transform: rotateY(0deg);
		-ms-transform: rotateY(0deg);
		-o-transform: rotateY(0deg);
		-webkit-transform: rotateY(0deg);
		transform: rotateY(0deg);
	}
	#res_nav ul li {
		width: 100%;
	}
	/** ------------------------------------------------------
	    ------------------------------------------------------
	    					Fin menu responsive
	    ------------------------------------------------------
	    ------------------------------------------------------
	**/
}

/** ------------------------------------------------------
    ------------------------------------------------------
    						FOOTER
    ------------------------------------------------------
    ------------------------------------------------------
**/
.footer {
	min-height: 81px;
	width: 100%;
	margin-top: 20px;
}

.footer h2 {
	text-shadow: 1.33px 2px #FF9933;
}

.footer a {
	text-decoration: underline;
	color: rgba(255, 156, 35, 1);;
}

.footer a:visited {
	color: grey;
}

.footer a:hover {
	color: red;
}

.footer a:focus {
	color: #990000;
}

/** Responsive **/
@media screen and (max-width: 1024px) and (max-width: 1280px)
{
.footer {
		background-color: white;
		font-size: 20px;
		color: #000000;
	}
}

/** ------------------------------------------------------
    ------------------------------------------------------
    					Fin FOOTER 
    ------------------------------------------------------
    ------------------------------------------------------
**/

/** ------------------------------------------------------
    ------------------------------------------------------
    				Page Detail Stage 
    ------------------------------------------------------
    ------------------------------------------------------
**/
/** Corps page observation **/
#interne {
	width: 478px;
	margin: auto;
	min-height: 643px;
	margin-bottom: 300px;
}

/** "Visites liées au stage" **/
#interne h2 {
	margin-top: 10%;
	margin-left: 137px;
}

/** Bouton "Nouvelle viste" **/
#bouton_nouv_visite {
	margin-left: 960px;
	margin-top: 115px;
	position: fixed;
}

/** Block recouvrant l'observation bilan et les caractéristiques lié à ce bilan **/
.coprsBilan {
	width: 518px;
}

/** Block recouvrant seulement les caractéristiques liées au bilan **/
.caracBilan {
	margin-left: 50px;
	margin-right: 71px;
	background-color: #E3E3E3;
	border-radius: 6px 10px 10px 6px;
	box-shadow: 6px 6px 15px #C1C1C1;

}

/** "Bilan du stage" **/
.obsBilan {
	width: 469px;
}
.obsBilan p {
	margin-left: 33%; 
	font-size: 25px; 
	font-weight: bold; 
	text-decoration: underline;
	color: #3a3a3a;
}

.obsVisite {
	width: 369px;
	margin-left: 67px;
	background-image: url("../img/observation_visite_degrade_gris.png");
	border-radius: 7px 7px 7px 7px;
}

.obsVisite p {
	margin-left: 35%;
	font-weight: bold;
}

/** Responsive **/
@media screen and (max-width: 1024px) and (max-width: 1280px)
{
	#bouton_nouv_visite {
		margin-left: 1054px;
		margin-top: 240px;
	}

	.caracBilan {
		background-color: white;
		font-size: 30px;
		width: 580px;
	}

	.obsVisite {
		background-image: none;
		width: 600px;
		font-size: 33px;
	    min-height: 300px;
	}

	.obsBilan {
		width: 600px;
		font-size: 34px;
	}

	.obsBilan p {
		font-size: 38px;
		margin-left: 166px;
	}

	#interne {
		width: 604px;
		margin-left: 300px;
    	min-height: 1347px;
	}

	#interne h2 {
		width: 348px;
		font-size: 40px;
		margin-top: 100px;
		margin-left: 131px;
	}
}

/** ------------------------------------------------------
    ------------------------------------------------------
    				Fin page Detail Stage 
    ------------------------------------------------------
    ------------------------------------------------------
**/

/** ------------------------------------------------------
    ------------------------------------------------------
    					Page Classe 
    ------------------------------------------------------
    ------------------------------------------------------
**/
/**Corps page "Classe" **/
#interne_classe {
	width: 690px;
	margin: auto;
}

#interne_classe h1 {
	margin-left: 32%;
	margin-top: 80px;
}

#interne_classe h3 {
	margin-top: 3%;
	margin-left: 29%;
}

/** Tableau**/

#table_class table {
	width: 100%;
	margin-top: 20px;
}

#table_class table thead tr {
    display: table-row;
    color: #7f7b7b;
}
#table_class table tbody tr:nth-of-type(odd) {
	background-color: #f2f2f2;
}

#table_class {
	display: flex;
	flex-direction: column;
	align-content: space-between;
	margin-bottom: 407px;
}

#table_class table thead tr th {
	text-align: left;
	border-bottom: 2px solid #ccc;
}

/** Bouton "Nouvelle année" **/
#bouton_nouv_annee {
	margin-left: 652px;
}

@media screen and (max-width: 1024px) and (max-width: 1280px) 
{
	#table_class {
		margin-bottom: 870px;
	}
}
/** ------------------------------------------------------
    ------------------------------------------------------
    				Fin page Classe 
    ------------------------------------------------------
    ------------------------------------------------------
**/

/** ------------------------------------------------------
    ------------------------------------------------------
    				Page Ajout référent pro 
    ------------------------------------------------------
    ------------------------------------------------------
**/
/**Corps page "Ajout référent pro" **/
#interne_ref {
	width: 370px;
	margin: auto;
}

#interne_ref h1 {
	font-size: 40px;
	padding-left: 50px;
	margin-top: 85px;
}

#interne_ref h2 {
	margin-top: 20%;
}

/** Ecart entre les champs **/
#ecart1 {
	margin-top: 35px;
}

#ecart2 {
	margin: 36px 0px 27px 0px;
}

.validation {

	margin-bottom: 221px;
}

@media screen and (max-width: 1024px) and (max-width: 1280px) 
{
	#interne_ref {
		padding-left: 143px;
	}

	#interne_ref h2 {
		text-align: center;
		font-size: 37px;
	}

	#ecart1 {
		width: 370px;
		font-size: 25px;
		margin-left: 58px;
	}

	#ecart2 {
		width: 370px;
		font-size: 32px;
		margin-left: 58px;
	}

	.validation {
		margin-left: 58px;
		margin-bottom: 650px;
	}
}
/** ------------------------------------------------------
    ------------------------------------------------------
    				Fin page Ajout référent pro 
    ------------------------------------------------------
    ------------------------------------------------------
**/

/** ------------------------------------------------------
    ------------------------------------------------------
    				Page Stage 
    ------------------------------------------------------
    ------------------------------------------------------
**/
.rechercheEleve {
	margin-left: 403px;
    margin-top: 50px;
}

.rechercheEleve h1 {
	margin-bottom: 50px;
	font-size: 40px;
	margin-left: 16px;
}

.formulaire {
	margin-left: 80px;
}

.annee {
	margin-bottom: 10px;
}

.nomAnnee {
	float: right;
	margin-right: 537px;
}

.eleve {
	margin-bottom: 25px;
}

.nomEleve {
	float: right;
	margin-right: 457px;
}

.recherche {
	margin-left: 80px; 
	margin-bottom: 406px;
}

@media screen and (max-width: 1024px) and (max-width: 1280px) 
{
	.annee {
	font-size: 32px;
	}

	.nomAnnee {
		margin-right: 481px;
		font-size: 30px;
	}

	.eleve {
		font-size: 32px;
	}

	.nomEleve {
		margin-right: 401px;
		font-size: 31px;
	}

	.recherche {
		margin-left: 136px;
		margin-bottom: 950px; 
	}
}
/** ------------------------------------------------------
    ------------------------------------------------------
    				Fin page Stage 
    ------------------------------------------------------
    ------------------------------------------------------
**/

/** ------------------------------------------------------
    ------------------------------------------------------
    				Page nouvelle année 
    ------------------------------------------------------
    ------------------------------------------------------
**/
.nouvAnnee {
	width: 535px;
	margin: auto;
	margin-bottom: 338px;
}

.laClasse {
	margin-top: 80px;
	margin-bottom: 40px;
	text-align: center;
}

.nouvAnnee_corps {
	margin-bottom: 40px;
}

.nouvAnnee_annee {
	display: inline-block;
	margin-right: 43px;
	margin-left: 35px;
}

.nouvAnnee_nouvelle, .nouvAnnee_annee_contenu, .nouvAnnee_nouvelle_contenu {
	display: inline-block;
}

.nouvAnnee_annee_contenu, .nouvAnnee_nouvelle_contenu {
	margin-left: 25px;
}

.nouvAnnee_valider {
	margin-left: 145px;
}

@media screen and (max-width: 1024px) and (max-width: 1280px) 
{
	.nouvAnnee_corps {
		font-size: 25px;
	}

	.nouvAnnee_valider {
		margin-bottom: 905px;
	}

	.nouvAnnee_annee {
		margin-bottom: 25px;
	}

	.nouvAnnee_nouvelle {
		margin-left: 35px;
	}

	.nouvAnnee_annee_contenu {
		margin-left: 90px;
	}

	.nouvAnnee_nouvelle_contenu {
		margin-left: 33px;
	}
}
/** ------------------------------------------------------
    ------------------------------------------------------
    			Fin page nouvelle année 
    ------------------------------------------------------
    ------------------------------------------------------
**/

/** ------------------------------------------------------
    ------------------------------------------------------
    		Page nouvelle classe pour un élève 
    ------------------------------------------------------
    ------------------------------------------------------
**/
.nouvClassePourEleve {
	width: 385px;
	margin: auto;
	padding-top: 80px;
	margin-bottom: 305px;
}

.nouvClassePourEleve_corps {
	margin-bottom: 40px;
}

.nouvClassePourEleve_classe, .nouvClassePourEleve_annee {
	margin-left: 111px;
}

.nouvClassePourEleve_classe {
	margin-bottom: 35px;
	margin-right: 43px;
}

.nouvClassePourEleve_classe_contenu, .nouvClassePourEleve_annee_contenu {
	display: inline-block;
	margin-left: 25px;
}

.nouvClassePourEleve_valider {
	margin-left: 55px;
}

.nouvClassePourEleve_titre {
	text-align: center;
	margin-bottom: 40px;
}

.nouvClassePourEleve_sous_titre {
	margin-bottom: 40px;
}

@media screen and (max-width: 1024px) and (max-width: 1280px) 
{
	.nouvClassePourEleve_valider {
		margin-left: 73px;
		margin-bottom: 810px;
	}

	.nouvClassePourEleve_corps {
		font-size: 25px;
	}
	.nouvClassePourEleve_sous_titre {
		text-align: center;
	}

}
/** ------------------------------------------------------
    ------------------------------------------------------
    		Fin page nouvelle classe pour un élève 
    ------------------------------------------------------
    ------------------------------------------------------
**/

/** ------------------------------------------------------
    ------------------------------------------------------
    		Page Recherche et ajout d'une entreprise 
    ------------------------------------------------------
    ------------------------------------------------------
**/
.entreprise {
	width: 100%;
}

.entreprise_titre {
	width: 300px;
	margin-left: 47%;
	margin-top: 80px;
	margin-bottom: 47px;
}

.recherche_entreprise {
	margin-left: 275px;
}

.nouvelle_entreprise {
	margin-left: 720px;
}

.entreprise_nom {
	display: inline-block;
	margin-left: 25px;
}

.chiffreAffaires {
	margin-top: 35px;
	margin-bottom: 35px;
}

.chiffreAffaires_input {
	margin-left: 47px;
}

.adressePostale_input {
	margin-left: 54px;
}

.entreprise_rechercher {
	margin-top: 27px;
	margin-bottom: 50px;
}

.entreprise_valider {
	margin-top: 28px;
	margin-bottom: 120px;
}

@media screen and (max-width: 1024px) and (max-width: 1280px) 
{
	.entreprise {
		width: 726px;
    	margin-left: 160px;
	}
	.nouvelle_entreprise {
		margin-left: 250px;
	}

	.entreprise_rechercher {
		margin-left: 26px;
	}

	.entreprise_valider {
		margin-left: 59px;
		margin-bottom: 650px;
	}

	.chiffreAffaires_input {
		margin-left: 52px;
	}

	.adressePostale_input {
		margin-left: 62px;
	}
}
/** ------------------------------------------------------
    ------------------------------------------------------
    		Fin page Recherche et ajout d'une entreprise 
    ------------------------------------------------------
    ------------------------------------------------------
**/

/** ------------------------------------------------------
    ------------------------------------------------------
    		Page Liste des BAC et ajout d'un BAC
    ------------------------------------------------------
    ------------------------------------------------------
**/
@import url(http://fonts.googleapis.com/css?family=Roboto:400,500,700,300,100);

.typeBAC_titre {
	margin-top: 80px;
	margin-bottom: 25px;
	margin-left: 42%;
}

#typeBAC_corps {
	width: 500px;
	margin-left: 331px;
}

.typeBAC_ajouter_titre {
	text-align: center;
	margin-bottom: 25px;
}

.typeBAC_formulaire {
	margin-left: 115px;
}

.typeBAC_ajouter {
	margin-top: 20px;
	margin-bottom: 45px;
}

/** Tableau **/
.typeBAC_liste{
	margin-bottom: 150px;
}

.typeBAC_liste_titre {
	text-align: center;
	margin-bottom: 25px;
   	font-size: 18px;
   	font-style:normal;
   	font-family: "Roboto", helvetica, arial, sans-serif;
   	text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
   	text-transform:uppercase;
}

.typeBAC_tableau {
	font-family: "Roboto", helvetica, arial, sans-serif;
	font-weight: 400;
	text-rendering: optimizeLegibility;
	background: white;
	border-radius:3px;
	border-collapse: collapse;
	height: 320px;
	margin: auto;
	max-width: 600px;
	padding:5px;
	width: 100%;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
	animation: float 5s infinite;
}
 
.typeBAC_tableau th {
  color:#D5DDE5;;
  background:#1b1e24;
  border-bottom:4px solid #9ea7af;
  border-right: 1px solid #343a45;
  font-size:23px;
  font-weight: 100;
  padding:24px;
  text-align:left;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  vertical-align:middle;
}

.typeBAC_tableau th:first-child {
  border-top-left-radius:3px;
}
 
.typeBAC_tableau h:last-child {
  border-top-right-radius:3px;
  border-right:none;
}
  
.typeBAC_tableau tr {
  border-top: 1px solid #C1C3D1;
  border-bottom-: 1px solid #C1C3D1;
  color:#666B85;
  font-size:16px;
  font-weight:normal;
  text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}
 
.typeBAC_tableau tr:hover td {
  background:#4E5066;
  color:#FFFFFF;
  border-top: 1px solid #22262e;
  border-bottom: 1px solid #22262e;
}
 
.typeBAC_tableau tr:first-child {
  border-top:none;
}

.typeBAC_tableau tr:last-child {
  border-bottom:none;
}
 
.typeBAC_tableau tr:nth-child(odd) td {
  background:#EBEBEB;
}
 
.typeBAC_tableau tr:nth-child(odd):hover td {
  background:#4E5066;
}

.typeBAC_tableau tr:last-child td:first-child {
  border-bottom-left-radius:3px;
}
 
.typeBAC_tableau tr:last-child td:last-child {
  border-bottom-right-radius:3px;
}
 
.typeBAC_tableau td {
  background:#FFFFFF;
  padding:20px;
  text-align:left;
  vertical-align:middle;
  font-weight:300;
  font-size:18px;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
  border-right: 1px solid #C1C3D1;
}

.typeBAC_tableau td:last-child {
  border-right: 0px;
}

.typeBAC_tableau th.text-left {
  text-align: left;
}

.typeBAC_tableau th.text-center {
  text-align: center;
}

.typeBAC_tableau th.text-right {
  text-align: right;
}

.typeBAC_tableau td.text-left {
  text-align: left;
}

.typeBAC_tableau td.text-center {
  text-align: center;
}

.typeBAC_tableau td.text-right {
  text-align: right;
}



@media screen and (max-width: 1024px) and (max-width: 1280px) 
{
	.typeBAC_titre {
		margin-left: 39%;
		margin-bottom: 50px;
	}

	#typeBAC_corps {
		width: 412px;
		margin-left: 370px;
	}

	.typeBAC_formulaire {
		margin-left: 42px;
	}

	.typeBAC_input {
		margin-left: 28px;
	}

	.typeBAC_ajouter {
		margin-left: 14px;
	}

	.typeBAC_liste_titre {
		margin-top: 100px;
	}

	.typeBAC_liste{
		margin-bottom: 440px;
	}
}