/** ------------------------------------------------------
    ------------------------------------------------------
    						Menu principal
    ------------------------------------------------------
    ------------------------------------------------------
**/

.menu_principal {

	width:770px;
	height: 40px;
    padding-left: 275px;

}

/* main menu styles */

#nav,#nav ul {

	list-style:none;

	margin:0;

	padding:0;

}

#nav {

	height:41px;

	padding-left:5px;

	padding-top:5px;

	position:relative;

	z-index:2;

}

#nav ul {

	left:-9999px;

	position:absolute;

	top:37px;

	width:auto;

}

#nav ul ul {

	left:-9999px;

	position:absolute;

	top:0;

	width:auto;

}

#nav li {

	float:left;

	margin-right:5px;

	position:relative;

}

#nav li a {

	background:#c1c1bf;

	color:#000;

	display:block;

	float:left;

	font-size:16px;

	padding:8px 10px;

	text-decoration:none;

}

#nav > li > a {

	-moz-border-radius:6px;

	-webkit-border-radius:6px;

	-o-border-radius:6px;

	border-radius:6px;

	overflow:hidden;

}

#nav li a.fly {

	background:#c1c1bf url('../img/marque_menu.png') no-repeat right center;
	border: 0px;
	padding-right:15px;

}

#nav ul li {

	margin:0;

}

#nav ul li a {

	width:120px;

}

#nav ul li a.fly {

	padding-right:10px;

}

/*hover styles*/

#nav li:hover > a {

	background-color:#858180;

	color:#fff;

}

/*focus styles*/

#nav li a:focus {

	outline-width:0;

}

/*popups*/

#nav li a:active + ul.dd,#nav li a:focus + ul.dd,#nav li ul.dd:hover {

	left:0;

}

#nav ul.dd li a:active + ul,#nav ul.dd li a:focus + ul,#nav ul.dd li ul:hover {

	left:140px;

}

.main-menu-right {
	display: inline-block;
	margin: 0;
}

.header .main-menu-right {
	float: right;
}

.header .main-menu-right li {
	display: inline-block;
	padding: 10px 15px;
	position: relative;
}

.main-menu-right a {
	color: #FFF;
	text-decoration: none;
	display: block;
}

.main-menu-right li a:hover {
	color: #cecbcb;
	/**text-decoration: underline;**/
}

.header .main-menu-right {
	position: relative;
}
.header .main-menu-right li ul {
   	display: none;
	position: absolute;
	padding: 2px 5px;
	background-color: #343434;
	top: 2em;
	left: -4px;
	font-size: 14px;
	width: 120px;
	text-align: center;
	z-index: 1000;
}

.header .main-menu-right li:hover ul {
	display: block;
}
