body {
	margin: 0px;
	background-color: #E3E3E3;
}

p {
	color : black;
}

.container {
	width: 1170px;
	margin: 0 auto;
}

h1, h2, h3, h4, h5 {
	margin: 0px;
}


/** HEADER MENU **/
.header-top {
	padding-top: 10px;
	width: 100%;
	background-color: #FFF;
	height: 120px;
	display: block;
}

.header-top > img {
	height: 100px;
	margin: 0 auto;
	display: block;
}

.header {
	display: block;
	width: 100%;
	background-color: #343434;
	color: #FFF;
	height: 40px;
}

.header .logo {
	width: 185px;
	float:left;
}

.header .logo > h1 {
	color: rgba(255, 156, 35, 0.68);
	text-transform: capitalize;
	margin: 8px 0;
	font-size: 21px;
}

.header .main-menu, .main-menu-right {
	display: inline-block;
	margin: 0;
}

.header .main-menu-right {
	float: right;
}

.header .main-menu li, .header .main-menu-right li {
	display: inline-block;
	padding: 10px 15px;
	position: relative;
}

.header .main-menu li a, .main-menu-right a {
	color: #FFF;
	text-decoration: none;
	display: block;
}

.header .main-menu li a.active, .main-menu-right li a.active {
	color: #ff9c23;
	/**text-decoration: underline;**/
}

.header .main-menu li a:hover, .main-menu-right li a:hover {
	color: #cecbcb;
	/**text-decoration: underline;**/
}

.header .main-menu-right {
	position: relative;
}
.header .main-menu-right li ul {
   	display: none;
	position: absolute;
	padding: 2px 5px;
	background-color: #343434;
	top: 2em;
	left: -4px;
	font-size: 14px;
	width: 120px;
	text-align: center;
	z-index: 1000;
}

.header .main-menu-right li:hover ul {
	display: block;
}

.footer {
	display: block;
	width: 100%;
	background-color: #343434;
	color: #FFF;
	height: 40px;
}


/** Content **/
#content {
	background-color: #FFF;
	min-height: 600px;
	color: #3a3a3a;
	display: block;
	padding: 15px;
}

#content h2 {
	color: #c97e28;
}

#content .left {
	float: left;
	display: inline-block;
	width: 700px;
}

#content .right {
	float: right;
	width: 400px;
	margin-left: 40px;
}

/** Link **/

#content .read-more {
	margin-top: 10px;
	float: right;
	color: #ff9c23;
	text-decoration: none;
}

#content .read-more:hover {
	text-decoration: underline;
}

#content .read-more:after {
	content: ' \21FE';
}

/** Table **/
#content table {
	margin-top: 20px;
}

#content table thead tr {
    display: table-row;
    color: #7f7b7b;
}

#content table thead tr th {
	text-align: left;
	border-bottom: 2px solid #ccc;
}

#content table tbody tr:nth-of-type(odd) {
	background-color: #f2f2f2;
}

/** GRADI MANDAMBU **/
/** Page Detail stage**/
/** **/
/** **/
/** Corps page observation **/
#interne {
	width: 370px;
	margin: auto;
}

#interne h2 {
	margin-top: 10%;
}

/** Bouton "Nouvelle viste" **/
#interne img {
	display: block;
	padding-left: 690px;
	padding-top: 25px;
	position: fixed;
}

/** Page "Classe" **/
/** **/
/** **/
/**Corps page "Classe" **/
#interne_classe {
	width: 690px;
	margin: auto;
}

#interne_classe h3 {
	margin-top: 3%;
}

/** Tableau**/
#table_class {
	display: flex;
	flex-direction: column;
	align-content: space-between;
}

#table_class table {
	width: 100%;
}

#table_class table thead tr th {
	text-align: left;
	border-bottom: 2px solid #ccc;
}

/** Bouton "Nouvelle viste" **/
#content img {
	display: block;
	padding-left: 765px;
}

/** Page "Ajout rÃ©fÃ©rent pro" **/
/** **/
/** **/
/**Corps page "Ajout rÃ©fÃ©rent pro" **/
#interne_ref {
	width: 370px;
	margin: auto;
}

#interne_ref h1 {
	font-size: 40px;
	padding-left: 80px;
}

#interne_ref h2 {
	margin-top: 20%;
}

/** Ecart entre les champs **/
#ecart1 {
	margin-top: 35px;
}

#ecart2 {
	margin: 36px 0px 27px 0px;
}
/** FIN GRADI **/

/** Dylan POPYK **/

/** 1.1 **/
/** Bande **/
#Bande .left1
{
	float: left;
	display: inline-block;	
}

#Bande .right1
{
	margin-left: 440px;
	display: inline-block;	
}

/** Table 1.1.php **/

.table11
{
	border-collapse: collapse;
	width: 50%;
	text-align: center;
}
/** 1.1 **/


/** 2.1.3 **/
/** Bouton Valider/Reset **/
.bouton213
{
	margin-left: 120px;
}

/** Textarea LibellÃ©1 & 2 **/
.textarea1
{
	margin-left: 60px;
}

.textarea2
{
	margin-left: 30px;
}

/** 2.3 et 2.4 **/
/** Table 2.3.php et 2.4.php **/
.table23
{
	border-collapse: collapse;
	width: 100px;
	text-align: center;

}

.table24
{
	border-collapse: collapse;
	width: 100px;
	text-align: center;
}

/** contenu23 & 24 **/

#contenu234 .left1
{
	float: left;
	display: inline-block;	
}

#contenu234 .right1
{
	margin-left: 100px;
	display: inline-block;
}

/** textarea23 & 24 **/
.textarea23, .textarea24
{
	margin-left: 10px;
}

/** bouton Ajouter2 & 3 **/
.Ajouter2
{
	margin-left: 60px;
}

.Ajouter3
{
	margin-left: 70px;
}
